*{
    clear: both;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0 auto;
}
main{
   
    margin: 0 auto;
    background-color: blanchedalmond; 
}

 main h2{
     text-align: right; 
    
     text-decoration: azure;
}
main p {
    float: left;
    width: 50%;
    
 
}
button{
    float: right;
}
header ul{
width:60%;
display: flex;
justify-content:space-between;
}


nav {
    background-color: rgb(58, 26, 26);
    color:aliceblue;   
}


nav li{
display: inline-block;
text-align: center;
border: 3px solid rgb(20, 20, 20);
margin:50px;
text-decoration-skip: whitesmoke;



} 

main img{
 padding: 15px;
 

 }
main section img{
    display: block;
    width: 85%;
    
}


footer{
height:50px;
background-color:rgb(4, 5, 5);
}